---
import BaseLayout from '../layout/BaseLayout.astro'
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---
<BaseLayout pageTitle={pageTitle}>
  
  {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</BaseLayout>